<!-- <p-dropdown [(ngModel)]="selectedLanguage" [options]="languages" (onChange)=changeLang()>
  <ng-template pTemplate="item" let-item>
      <flag-icon country="{{item.value.code ? (item.value.code === 'en' ? 'gb' : item.value.code) : ''}}">
      </flag-icon>
      {{item.value.label | translate}}

  </ng-template>
  <ng-template let-selectedItem pTemplate="selectedItem">
      <flag-icon country="{{selectedItem.value.code ? (selectedItem.value.code === 'en' ? 'gb' : selectedItem.value.code) : '' }}">
      </flag-icon>
      {{selectedItem.value.label | translate}}
  </ng-template>
</p-dropdown> -->
