<igx-grid #grid [data]="remoteData | async" [primaryKey]="'code'" width="1200px" height="550px" rowSelection="multiple"
  [paging]="true" [perPage]="perPage" [columnPinning]="true" [columnHiding]="true" [showToolbar]="true"
  toolbarTitle="Employees" [allowFiltering]="true" [filterMode]="'excelStyleFilter'" [autoGenerate]="false"
  [filterStrategy]="noopFilterStrategy" [paginationTemplate]="customPager">
  <!-- <igx-column field="code" header="Code"  width="150px" dataType="text" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [pinned]="false">
  </igx-column>
  <igx-column field="name" header="Full Name" width="150px" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [pinned]="false" [hidden]="true">
  </igx-column>
  <igx-column field="customerCode" header="Customer Code" width="140px" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [groupable]="true">
  </igx-column>
  <igx-column field="vatin" header="VAT IN" width="110px" dataType="number" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [groupable]="true">
  </igx-column>
  <igx-column field="statusCode" header="Status Code" width="110px" dataType="text" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [groupable]="true">
  </igx-column>
  <igx-column field="birthday" header="Birthday" width="180px" dataType="date" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true">
    <ng-template igxCell let-value>
        {{ value | date }}
    </ng-template>
  </igx-column> -->
  <igx-column *ngFor="let col of this.gridConfig" [field]="col.field" [header]="col.header" [width]="col.width"
    [dataType]="col.dataType" [sortable]="col.sortable" [filterable]="col.filterable" [resizable]="col.resizable"
    [movable]="col.movable" [groupable]="col.groupable" [pinned]="col.pinned" [hidden]="col.hidden">
    <ng-template igxCell let-value *ngIf="col.type ==='date'">
      {{ value | date }}
    </ng-template>
    <ng-template igxCell let-value *ngIf="col.type ==='array'">
      {{ value ? value[col.code] : '' }}
      <!-- {{ value }} -->
    </ng-template>
    <ng-template igxCell let-value *ngIf="col.type !=='date' && col.type !=='array'">
      {{ value }}
    </ng-template>
  </igx-column>
  <!-- <igx-column field="IsActive" header="Is Active" width="140px" dataType="boolean" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true">
    <ng-template igxCell let-cell="cell">
      <igx-checkbox [checked]="cell.value" [disabled]="true"></igx-checkbox>
    </ng-template>
  </igx-column> -->
</igx-grid>
<ng-template #customPager let-api>
  <igx-paginator #paginator [totalRecords]="totalCount" [(perPage)]="perPage" [selectLabel]="'Records per page:'"
    [selectOptions]="selectOptions" [displayDensity]="grid.displayDensity" (pageChange)="paginate($event)">
  </igx-paginator>
</ng-template>