<igx-grid #grid [data]="remoteData | async" [primaryKey]="'code'" width="900px" height="550px" rowSelection="multiple" [paging]="true"
 [columnPinning]="true" [columnHiding]="true" [showToolbar]="true" toolbarTitle="Employees" [allowFiltering]="true" [filterMode]="'excelStyleFilter'"
 [filterStrategy]="noopFilterStrategy" >
  <igx-column field="code" header="Code"  width="150px" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [pinned]="true">
  </igx-column>
  <igx-column field="name" header="Full Name" width="150px" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [pinned]="true">
  </igx-column>
  <igx-column field="customerCode" header="Customer Code" width="140px" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [groupable]="true">
  </igx-column>
  <igx-column field="vatin" width="110px" dataType="number" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [groupable]="true">
  </igx-column>
  <igx-column field="statusCode" header="Status Code" width="110px" dataType="number" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true" [groupable]="true">
  </igx-column>
  <igx-column field="birthday" header="Birthday" width="180px" dataType="date" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true">
    <ng-template igxCell let-value>
        {{ value | date }}
    </ng-template>
  </igx-column>
    <!-- <igx-column field="IsActive" header="Is Active" width="140px" dataType="boolean" [sortable]="true" [filterable]="true" [resizable]="true" [movable]="true">
    <ng-template igxCell let-cell="cell">
      <igx-checkbox [checked]="cell.value" [disabled]="true"></igx-checkbox>
    </ng-template>
  </igx-column> -->
</igx-grid>
